/* TODO потом удалить */
.about,
.lots,
.cover,
.footer {
  border: 1px solid black;
  /* width: 1440px; */
}

body {
  /* TODO потом удалить */
  width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px;
  font-size: 18px;
  text-underline-position: under;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 180px;
  padding-bottom: 90px;
}

.cover {
  /* TODO потом удалить height */
  height: 757px;
}

.lots {
  padding: 0 50px;
  /* TODO потом удалить height */
  height: 579px;
}

.about {
  padding: 0 50px;
  /* TODO потом удалить height */
  height: 487px;
}

.footer {
  padding: 90px 50px;
  /* TODO потом удалить height */
  height: 277px;
}

.header__logo {
  width: 286px;
}

.header__links-list {
  list-style: circle;
  display: flex;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  display: block;
  width: 138px;
}

.header__address {
  flex-basis: 240px;
  line-height: 135%;
  font-style: normal;
}
